input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/*GIOCHI CON LA TRANSLAZIONE*/
.item-enter {
  opacity: 0;
  transform: scale(0.9);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}


.rightprod {
  width: 50%;
  position: relative;
  text-align: end;
}

.leftprod {
  width: 50%;
  margin-right: 5%;
}

.addbrodi {
  display: flex;
  margin-bottom: 55px;
}


p {
  font-size: 14px;
}

.photopreview {
  max-width: 100%;
  margin: 5px;
}

.toda-lista {
  justify-content: center;
  display: inline-flex;
  width: auto;
  height: auto;
  border: 9px dashed rgb(234,237,237);
  border-radius: 10px;
  min-width: 225px; 
  padding: 0px 15px 0px 15px;
}



.button__photo {
  width: 116px;
  justify-self: self-end; 
}



h5 {
  font-size: 16px;
  text-align: justify;
}


.selectbox {
  display: flex;
  justify-content: center;
}

.city {
  width: 50%;
  text-align: initial;
}

.tipo {
  text-align: end;
}

.addbrodi p {
  text-align: center;
  font-size: 13px;
}

/*TUTTO STO CASINO PER FARE IN MODO DI AVERE L'IMMAGINE BACKGROUND OPACA, CSS NON HA UNA VERA E PROPRIA FUNZIONE DI OPACITY PER LE BACKGROUND IMAGE*/
.demo-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('./image-background/addprod.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.demo-content {
  position: relative;
}

.imagepre {
  margin-top: 75px;
  text-align: center;
}

.noleggio {
  height: auto;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

@media only screen and (max-width: 1080px) {

  .addbrodi {
    display: block;
    margin-bottom: 0px;
  }

  .leftprod {
   width: 100%;
   text-align: center; 
   margin-left: 0%; 
  }

  .rightprod {
   width: 100%; 
   margin-right: 0%; 
   display: block; 
   text-align: center;
   margin-left: 0%;
  }

  .button__photo {
    margin-right: 0% !important;
  }


  .toda-lista {
    /*
   display: block;
   max-width: 226px;
   */
  }

  .container.addproducts {
    text-align: -webkit-center;
  }

  .city {
    width: 100%;
    text-align: center;
  }

  .noleggio {
    padding-top: 0%;
  }

  .imagepre {
    position: relative;
  }
  
}

.add button {
    background-color:  #e05d5d !important;
  }
  
  
.add button:hover {
    background-color: #c68525 !important;
  }
