

.resetpassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.resetpassword__container {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid #00A19D;
    padding: 20px;   
    background-color: #FFF8E5;
}

.resetpassword__container > h1 {
font-weight: 500;
margin-bottom: 20px;
}

.resetpassword__container >  h5 {
    margin-bottom: 5px;
}

.resetpassword__container >  input {
    height: 30px;
    margin-bottom: 10px;
    background-color: #FFF;
    width: -webkit-fill-available;
}

.resetpassword__container >  p {
    font-size: 12px;
    margin-top: 15px;
}

.resetpassword__button {
    background: #FFB344;
    border-radius:  2px;
    height: 35px;
    border: 1px solid;
    margin-top: 10px;
    width: 90px;
    align-self: center;
}



.demo_resetpassword:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
    background-image: url('https://rangewriter.files.wordpress.com/2014/04/dsc_0802.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 760px) {
    .resetpassword__container {
        width: auto;
      }
}